body {
  margin: 0;

}

.char-box{
  background-color: rgba(0, 0, 0, 0.534);
}

.single-char{
  margin: 0;
  background-color: rgba(56, 33, 11, 0.699);
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem;
}

.red{
  color: rgb(243, 65, 65);
}

.green{
  color: rgba(5, 196, 30, 0.781);
}