@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root{
  --body-color: hsl(197, 40%, 41%);
}
body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background-color: hsl(197, 40%, 41%);
  color: white;
}

/* PERSISTENT */
button {
  font-family: 'Prompt', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  font-size: 1rem;
  color: white;
  background-color: rgba(173, 78, 78, 0.562);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 10px;
  background: hsl(197, 40%, 20%);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: hsl(197, 40%, 41%);
  border: 1px solid black;
}

/* LANDING PAGE */

/* .avatar-container{
  width: calc(100% + 2px);
} */

.avatar-container:hover{
  cursor: pointer;
  background-color: hsla(0, 0%, 88%, 0.521);
}

.highlighted{
  /* border: 1px solid; */
  /* width: calc(100% - 2px); */
  background-color: hsla(0, 0%, 88%, 0.521);
}
#mode-button-container{
  display: flex;
  gap: 0.4rem;
}
.mode-button {
  /* width: 80px; */
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  background-color: var(--body-color);
  font-weight: bold;
  border: 1px solid;
}

.mode-button:hover{
  background-color: hsla(0, 0%, 88%, 0.521);
}

.mode-button.highlighted{
  background-color: hsla(0, 0%, 88%, 0.521);

}

/* GAMEBOARD */

#announcement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.missing {
  color: rgb(243, 65, 65);
}

.found {
  color: rgba(78, 231, 99, 0.938);
  transition: color 300ms;
}

.timer {
  color: white;
  padding: 0.8rem;
  display: inline-block;
  text-align: center;
}

/* #welcome {
  font-family: 'Prompt', sans-serif;
} */

img[alt*="avatar"] {
  height: 80px;
  width: 80px;
  border: 1px solid black;
}

img.dim {
  filter: brightness(40%);
  transition: filter 400ms;
}

.char-box {
  background-color: rgba(0, 0, 0, 0.534);
}

.single-char {
  margin: 0;
  background-color: rgba(56, 33, 11, 0.699);
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem;
}

.single-char:hover {
  background-color: rgb(87, 61, 36);
  cursor: pointer;
}

.avatar-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-count {
  width: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

/* END GAME PROMPT */
.save-time {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.849);
  padding: 20px;
  border: 1px solid black;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 3rem;
}

.sign-in button {
  border-radius: 9px;
  border: none;
  font-family: 'Prompt', sans-serif;
  padding: 1.5rem;
}

input#player-name {
  width: 70%;
}